@import '../../../node_modules/quick-mixins-less/quick-mixins.less';

@png: '../../multimedia/image/icon/';
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  .all();
}

ol,
ul,
li {
  list-style: none;
}

html,
body {
  .size(@h: auto; @min-h: 100vh; );
  background-color: #262626 !important;
  color: white !important;
}

body {
  .grid-parent();

  h1 {
    font-family: 'Tourney', cursive;
  }

  .pages {
    font-size: large;

    span {
      color: aquamarine;
      font-size: xx-large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }

  li {

    a {
      font-family: 'Tourney', cursive;
      font-size: x-large;
      text-transform: capitalize;
      text-decoration: none;
      background-color: #262626;
      color: aliceblue;
      display: inline-block;
      width: 100px;
      text-align: center;
    }

    &.active {
      a {
        background-color: aquamarine;

        color: #262626;
      }
    }
  }

}