@import '../../../node_modules/quick-mixins-less/quick-mixins.less';

@png: '../../multimedia/image/icon/';

* {
  .all();
}

ol,
ul,
li {
  list-style: none;
}

html,
body {
  .size(@h: auto; @min-h: 100vh; );
  background-color: #262626 !important;
  color: white !important;
}

body {
  .grid-parent();

  h1 {
    font-family: 'Nautilus Pompilius';
  }

  i {
    color: #ff9900;
    font-size: 40px;
  }
}