@import '../../../node_modules/quick-mixins-less/quick-mixins.less';

@png: '../../multimedia/image/icon/';

* {
  .all();
  .t;
}
ol,
ul,
li {
  list-style: none;
}
html,
body {
  .size(@h: auto; @min-h: 100vh; );
  background-color: #262626;
  color: white;
}
body {
  .grid-parent();
}
